@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: hsl(43, 100%, 55%);
  --color-dark-orange: #f69400;
}

.header {
  &__title {
    h1 {
      text-shadow: var(--color-dark-orange) 3px 0px 4px;
    }
  }

  &__img {
    &:nth-child(2) {
      transform: rotate(-36deg);
    }
  }
}

.card {
  position: relative;
  perspective: 1000px;
  height: 100%;
  width: 100%;

  &__side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transition: all 0.7s ease-out 0.3s;
  }

  &__front {
    cursor: pointer;
  }

  &__back {
    transform: rotateY(180deg);
  }

  &.open .card__front {
    transform: rotateY(-180deg);
  }

  &.open .card__back {
    transform: rotateY(0);
  }
}

:where(.game-over, .game-won, .game-menu) {
  background-image: url('./wave.svg');
  background-position: left bottom -80px;
  background-size: cover;
  background-repeat: no-repeat;
}
